---
layout: default
---

<div class="home">

    <div class="posts">
        <h1 class="page-heading">Posts</h1>

        <ul class="post-list">
        {% for post in site.posts %}
            <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                {% if post.external-url %}
                <h3>
                    <svg class="icon-link"><use xlink:href="#icon-link"></use></svg>
                    <a class="external-link" href="{{ post.external-url }}">{{ post.title }}</a>
                </h3>
                {% else %}
                <h2>
                    <svg class="icon-hammer"><use xlink:href="#icon-hammer"></use></svg>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                {% endif %}

                <div class="post-content">
                    {{post.content}}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="commit-list">
        <h4>danlucas.github.io commits</h4>
        <ul></ul>
    </div>

</div>
