[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-hammer {
	width: 16px;
	height: 16px;
}
.icon-link {
	width: 16px;
	height: 16px;
}
.icon-newtab {
	width: 16px;
	height: 16px;
}
.icon-github {
	width: 16px;
	height: 16px;
}
